.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 1em;
  font-family: "Poetsen One", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: color #F7CAC9;
  color: #333333;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 1.25em;
  text-align: center;
  color: #333333;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1.25em;
  text-align: center;
  color: #333333;
}

p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.25em;
}

.header {
  background-color: #F7CAC9;
}

.contenedor-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1em;
  justify-content: space-around;
}

.contenedor-titulo-principal {
  display: flex;
}

#parrafo-intro {
  font-size: 2em;
  width: 65vw;
}

#imagen-principal {
display: flex;

}

#quien-soy {
  background-color: #f8edeb;
}